<!DOCTYPE html>
<html lang="en" dir = "ltr">
    <head>
        <meta charset="utf-8">
        <title>To Do List</title>
    </head>
    <body>
    <% if(day === 0 || day === 6) {%>
        <h1 style="color:purple">It's the <%= days[day] %> ToDo List!</h1>
    <% } else { %>
        <h1 style="color:blue">It's the <%= days[day] %> ToDo List!</h1>
    <% } %>
    <p>Why are you <%= day === 0 || day === 6 ? "" : "not" %> working?</p>
    </body>
</html>