<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>ToDo list </title>
</head>
<body>
    <% if (day === "Saturday" || day === "Sunday") { %>
        <h1 style="color:crimson"> <%= day %> ToDo List!</h1>
    <% } else { %>
        <h1 style="color:darkgreen"> <%= day %> ToDo List!</h1>
    <% } %>
</body>
</html>