<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
    <script>
        function validateForm() {
            let item = document.forms["myForm"]["newItem"].value;
            if (!item.trim()) {
                alert("Please provide an actual item.");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<div class="box" id="heading"><h1><%= listTitle %></h1></div>

<div class="box">

    <% for(let item in newItems){ %>
        <div class="item">
            <input type="checkbox">
            <p>  <%= newItems[item] %></p></div>
    <% } %>

    <form name="myForm" class="item" onsubmit="return validateForm()" method="post" action="/" target="_self">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required>
        <button type="submit" name="button">+</button>
    </form>
</div>

</body>
</html>