body {
  margin: 0;
  text-align:center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

div {
  background-color: #e4f9f5;
  /* margin: 0px; */
}

span {
  color: blue;
  text-decoration: underline;
}

h1 {
  margin: 50px auto 0;
  font-family: 'Sacramento', cursive;
  font-size:5.625rem;       /* CSS3 feature; root em. This is equal to 5.625 * ( size of 'M'  in viewport settings). If that is 16 (normal size in most browsers) then 5.625rem = 90px. */
  color: #66BFBF;
}

h2  {
  font-family: 'Montserrat', sans-serif;

  /* Make font equivalent to 40px using rem */

  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  margin: 20px auto;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

p {
  line-height: 2; /* No units in line-height */
}

hr { /* Rule copied from HTML - Personal Site's CSS directory. */
  border-color: grey;
  border-width:5px;
  border-style: none;
  border-top-style: dotted;
  height:0;
  width:5%;
  margin: 80px auto;
  background-color: inherit;
}

.cloud_bottom {
  position:absolute;
  left:300px;
  bottom:300px;
}

.cloud_top {
  position:absolute;
  right:300px;
  top:50px;
}

.pro {
  text-decoration: underline;
  color:inherit;
}

.skills {
  background-color: inherit;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  background-color: inherit;
}

.skill-row img {
  width: 25%;
  background-color: inherit;
}


.coding{
  margin-right: 30px;
  float:left;
}

.teaching {
  margin-left: 30px;
  float:right;
}

.bass {
  margin-right: 30px;
  float:left;
}

.contact-me {
  background-color: inherit;
  margin-bottom: 20px;
}

.profile {
  background-color: inherit;
}

.top-container {
  background-color: #EAF6F6;
  position:relative;
  padding-top:100px;
  margin-bottom:30px;
}

.middle-container {
  padding: 100px 0;
  background-color: #FFFFFF;
}


.bottom-container {
  padding:30px;
  background-color: #66BFBF;
  margin-bottom:0;
}

.footer-link {
  color: #11999E;
  margin: 0 30px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.profile p {
  width: 30%;
  margin: 10px auto;
}

/* Button CSS from cssbuttoncreator.com */

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 30px auto 0px;
  display: inline-block;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.links {
  background-color: inherit;
  margin: 10px auto;
  padding-bottom: 20px;
}

.acknowledgement{
  color: #EAF6F6;
  font-size:small;
}
